@model TodoListsViewModel;

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/normalize.css" type="text/css" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">
<link rel="stylesheet" href="~/css/base.css" type="text/css" />

<div class="label">
    <h2>To-Do Lists</h2>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="TodoList" asp-action="Index" method="get">
    <p>
        Search To-Do Lists: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TodoLists[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoLists[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoLists[0].TodoItems)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TodoLists)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{var demTodos = from i in Model.TodoItems
                                   where i.DatListID == item.ID
                                   select i;
                    foreach(var subItem in demTodos)
                    {
                        <dl>@Html.DisplayFor(modelItem => subItem.Name)</dl>

                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>